/*     
    Name: _variables.scss    
    Author: Zakaria El Khachia
    Client:
*/

/* Colors */

$black: #171717;
$white: #ffffff;
$gray: #666666;

/* Fonts */

$FontZh: "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
$FontBold: "ceraBold", Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
$FontMedium: "ceraMedium", Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
$FontRegular: "ceraRegular", Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
$FontLight: "ceraLight", Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;

/* Transforms */

$t-all: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
$t-left: left 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
$t-transform: transform 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
$t-width: width 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
$t-fill: fill 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);

/* Breakpoints */

$max-small-phone: "screen and (max-width : 340px)";
$max-phone: "screen and (max-width : 600px)";
$max-tablet: "screen and (max-width : 991px)";
$max-small-laptop: "screen and (max-width : 1140px)";
$max-laptop: "screen and (max-width : 1280px)";
$max-desktop: "screen and (max-width : 1480px)";

$min-small-phone: "screen and (min-width : 340px)";
$min-phone: "screen and (min-width : 600px)";
$min-tablet: "screen and (min-width : 991px)";
$min-small-laptop: "screen and (min-width : 1024px)";
$min-laptop: "screen and (min-width : 1280px)";
$min-desktop: "screen and (min-width : 1480px)";
$min-large-screen: "screen and (min-width : 1550px)";
